


<section class="mt-5 py-5">

<div class="about">

  <div class="header d-flex justify-content-center align-items-center flex-column">
    <h3> ABOUT COMPONENT</h3>
    <div class="dix d-flex ">
      <div class="stylee">

      </div>
      <div class="icon">
        <i class="fa-solid fa-star"></i>
      </div>
      <div class="stylee">

      </div>
    </div>
   </div>
<div class="row">
  <div class="col-md-5 mx-auto mt-5 mb-5 p-5">
    Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
  </div>
  <div class="col-md-5 mx-auto mt-5 mb-5 p-5">
    Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
  </div>
</div>

</div>
</section>
