<nav class="navbar  navbar-expand-lg navbar bg-primary position-fixed top-0 w-100" data-bs-theme="dark">
  <div class="container ">
    <a class="navbar-brand font-nav nav-link" routerLink="home" href="#">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbbar" id="navbarSupportedContent">
      <ul class="navbar-nav   mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="about" routerLinkActive="nav-style">ABOUT</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="portfolio" routerLinkActive="nav-style">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="contact" routerLinkActive="nav-style">CONTACT</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
