

<section class="py-5 mt-5">
 <div class="header d-flex justify-content-center align-items-center flex-column">
  <h3> CONTACT US</h3>
  <div class="dix d-flex ">
    <div class="stylee">

    </div>
    <div class="icon">
      <i class="fa-solid fa-star"></i>
    </div>
    <div class="stylee">

    </div>
  </div>
 </div>

<div class="from mt-3">
  <div class="form__group field ml">
    <input type="text" class="form__field ww" placeholder="Name" required="">
    <label for="name" class="form__label">Name</label>

   </div>

   <div class="form__group field ml">
    <input type="text" class="form__field ww" placeholder="E-mail" required="">
    <label for="E-mail" class="form__label">E-mail</label>

   </div>

   <div class="form__group field ml">
    <input type="text" class="form__field ww" placeholder="User Age" required="">
    <label for="User Age" class="form__label">User Age</label>

   </div>

   <div class="form__group field ml">
    <input type="password" class="form__field ww" placeholder="Password" required="">
    <label for="Password" class="form__label">Password</label>

   </div>
 
   <BUtton class=" btn btnn "> send massage</BUtton>
</div>
</section>
