

.btnn{
 background-color:#1ABC9C ;
 margin-left: 350px;
 margin-top: 30px;
 border: #1ABC9C !important;
 border-radius: 20%;
}
.stylee{
  width: 80px;
  height: 5px;
  background-color: black;
  margin-left: 0px;
  margin-top: 10px;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form_field:placeholder-shown ~ .form_label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}
.form_field:focus ~ .form_label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form_field:required, .form_field:invalid {
  box-shadow: none;
}
.ml{
  margin-left: 350px;
}
.ww{
  width: 700px;
}

