

<section>

  <div class="header d-flex justify-content-center align-items-center flex-column pp">
    <h3> PORTFOLIO COMPONENT</h3>
    <div class="dix d-flex ">
      <div class="stylee">

      </div>
      <div class="icon">
        <i class="fa-solid fa-star"></i>
      </div>
      <div class="stylee">

      </div>
    </div>
   </div>

<div class="container portfolio ">
  <div class="row">
    <div class="col-md-4">
      <div class="hover ">

      </div>
      <div class="img mb-5 position-relative">
        <div class=" ddddddd position-absolute d-flex justify-content-center align-items-center  bottom-0 top-0 start-0 end-0 bg-success">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
        <img src="../../assets/poert1 (1).png" class="w-100" alt="">
      </div>

    </div>
    <div class="col-md-4">

      <div class="img mb-5  position-relative">
        <div class=" ddddddd position-absolute d-flex justify-content-center align-items-center  bottom-0 top-0 start-0 end-0 bg-success">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
        <img src="../../assets/port2 (1).png" class="w-100" alt="">
      </div>
    </div>
    <div class="col-md-4">
      <div class="img mb-5 position-relative">
        <div class=" ddddddd position-absolute d-flex justify-content-center align-items-center  bottom-0 top-0 start-0 end-0 bg-success">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
        <img src="../../assets/port3.png" class="w-100" alt="">
      </div>
    </div>
    <div class="col-md-4">
      <div class="img mb-5 position-relative">
        <div class=" ddddddd position-absolute d-flex justify-content-center align-items-center  bottom-0 top-0 start-0 end-0 bg-success">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
        <img src="../../assets/poert1.png" class="w-100" alt="">
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="img mb-5 position-relative">
        <div class=" ddddddd position-absolute d-flex justify-content-center align-items-center  bottom-0 top-0 start-0 end-0 bg-success">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
        <img src="../../assets/port2.png"  class="w-100"alt="">
      </div>
    </div>
    <div class="col-md-4">
      <div class="img mb-5 position-relative">
        <div class=" ddddddd position-absolute d-flex justify-content-center align-items-center  bottom-0 top-0 start-0 end-0 bg-success">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
        <img src="../../assets/port3.png" class="w-100" alt="">
      </div>
    </div>
  </div>
</div>

</section>
