
<section class="py-5 mt-5">
  <div class="home py-5 ">
    <div class="img">
      <img [src]="imgPath" class="w-100" alt="">
    </div>
    <div class="header d-flex justify-content-center align-items-center flex-column">
      <h3> START FRAMEWORK</h3>
      <div class="dix d-flex ">
        <div class="stylee">

        </div>
        <div class="icon">
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="stylee">

        </div>
      </div>
     </div>

    </div>
    <p class=" text-center">Graphic Artist - Web Designer - Illustrator</p>


</section>
